<h1>投稿一覧</h1>
<% @posts.each do |post| %>
  <div class="posts-index-item">
    <%= post.content %>
  </div>
  
  <% if post.images.attached? %>
  <div class="images">
    <% post.images.each do |image| %>
    <%= image_tag post.image.variant(resize: '500x500') %>
  <% end %>
  <% end %>
<% end %>
  </div>
<%= link_to("新規投稿", "/posts/new") %>